.vscode/**
.vscode-test/**
.github/**
test/**
.gitignore
.yarnrc
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
tf-test*/**
assets/**
Makefile
pnpm-lock.yaml
.npmrc
*.vsix
media/icon.svg
